body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0; 
}

h2,
h3, 
h4 {
    margin: 0; 
    padding: 10px; 
}

/*nav*/
header {
    border-bottom: 1px solid seashell;
    position: fixed; 
    height: 69px;
    width: 100%; 
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

.navbar img {
    margin-right: auto;
    margin-left: 10px;
    height: 50px;
}

.navbar li {
    display: inline-flex; 
    padding-right: 10px; 
}

.navbar a {
    color: seashell;
    text-decoration: underline;
    padding: 0 10px; 
}
/*mission*/
.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 700px;
    width: 1200px;
    padding-top: 70px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.mission-statement {
    display: block;
    width: 100%;
    align-items: center;
    background-color: black;
}